{
			compact : false,
			presets : [ 
				[ 'react' ], 
				//'es2015'
			   [ 'env', { include : [] } ],
			],
			plugins : [ 
					"transform-react-jsx",
					"transform-class-properties",
					"transform-async-to-generator", 
					]
		}
