/*
* Demo CSS Sheet
*/

.demo-header {
	text-align: center;
}

.demo-container {
	display: table;
	white-space: nowrap;
}

.demo-cell {
	display: table-cell;
}

.demo-topic {
	text-align: center;
}

.demo-json {
	border: solid 1px black;
}